.pokedex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.pokedex-grid{
    display: grid;
    gap:10;
    grid-template-columns: repeat(3, 1fr);
}