.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pagination-container button {
  color: aliceblue;
  font-size: 30px;
  display: flex;
}

.btnsize {
  background-color: transparent;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
