.pokemon-btn :hover {
  opacity: 85%;
  border-radius: 25px;
}
.pokemon-btn{
  border-radius: 25px;
}
.imagem-fundo-pokemon {
  display: flex;
}
 .card-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
} 
.pokemon-image {
  width: 70px;
  height: 70px;
}
.card-body {
  min-width: 50%;
}
.card-bottom {
  /* position: relative;
  top: 50%;
  left: 3%; */
  display: flex;
  align-items: center;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-top h2 {
  font-size: 30px;
  font-weight: bolder;
  color:white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.card-top h3 {
  font-size: 30px;
  font-weight: bolder;
  color: rgb(226, 226, 226);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.pokemon-type-text {
  text-transform: capitalize;
}
.pokemon-card-fire {
  background-color: #eb4343;
}
.pokemon-card-steel {
  background-color: #4c91b2;
}
.pokemon-card-ice {
  background-color: #91d8df;
}
.pokemon-card-fairy {
  background-color: #eba8c3;
}
.pokemon-card-psychic {
  background-color: #ff6e68;
}
.pokemon-card-rock {
  background-color: #6f6e78;
}
.pokemon-card-ghost {
  background-color: #8571be;
}
.pokemon-card-dragon {
  background-color: #7383b9;
}
.pokemon-card-dark {
  background-color: #493f62;
}
.pokemon-card-normal {
  background-color: #b5b9c4;
}
.pokemon-card-water {
  background-color: #58abf6;
}
.pokemon-card-grass {
  background-color: #8bbe8a;
}
.pokemon-card-poison {
  background-color: #9f6e97;
}
.pokemon-card-bug {
  background-color: #4c8e38;
}
.pokemon-card-electric {
  background-color: #d9b549;
}
.pokemon-card-fighting {
  background-color: #ff4971;
}
.pokemon-card-ground {
  background-color: #f78551;
}

/*type*/

.pokemon-type-fire {
  background-color: #bb3e2d;
}
.pokemon-type-steel {
  background-color: #355e71;
}
.pokemon-type-ice {
  background-color: #2fb1bc;
}
.pokemon-type-fairy {
  background-color: #e0558c;
}
.pokemon-type-psychic {
  background-color: #c94944;
}
.pokemon-type-rock {
  background-color: #585859;
}
.pokemon-type-ghost {
  background-color: #4d3394;
}
.pokemon-type-dragon {
  background-color: #3c529e;
}
.pokemon-type-dark {
  background-color: #4c3682;
}
.pokemon-type-normal {
  background-color: #4d64a4;
}
.pokemon-type-water {
  background-color: #11538c;
}
.pokemon-type-grass {
  background-color: #355e34;
}
.pokemon-type-poison {
  background-color: #664461;
}
.pokemon-type-bug {
  background-color: #569046;
}
.pokemon-type-electric {
  background-color: #bb931c;
}
.pokemon-type-fighting {
  background-color: #a74a5e;
}
.pokemon-type-ground {
  background-color: #9e5533;
}
.pokemon-type-flying {
  background-color: #a98472;
}
