.searchbar-container{
    display: flex;
    margin: 0px auto;
    padding: 0px 20px;
    align-items: center;
    
}
.searchbar{
    margin: 20px;
}
.searchbar input{
   padding: 10px;
   box-shadow: 0px 4px 4px (0, 0, 0, 0.25);
   border-radius: 8px;
}
.searchbar-btn button{
    background-color: #0e6f9f;
    border: none;
    border-radius: 10px;
    height: 44px;
    color: white;
    padding: 10px 12px;
}

.pokemon-find-card{
    margin-left: 15px;
    width: 200px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: solid 2px;  
}

.pokemon-find-info{
    text-transform: capitalize;
    font-weight: bold;
    padding: 8px;
}

.pokemon-find-img{
    display: flex;
    justify-content: center;
}
.pokemon-find-img img{
  height: 150px;
width: 150px;
}